*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  margin: 0px auto;
  width: 70%;
}

.flex{
  display: flex;
}

.flex-reverse{
  display: flex;
  flex-direction: row-reverse;
}

/* Header */

.nav{
  margin: 10px auto;
  background-color: rgb(218, 165, 32); 
}

.link{
  border: 1px dashed black;
  text-align: center;
  width: 60%;
  padding: 5px;

}

.logo{
  border: 1px dashed black;
  width: 20%;
  text-align: left;
  padding: 5px;

}

.login{
  border: 1px dashed black;
  width: 20%;
  text-align: right;
  padding: 5px;
}

/* /Header */

/* Main-link */

.main-link{
  background-color: rgb(0, 0, 139);
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.boxrosa{
  width: 50%;
  height: 90%;
  background-color: rgb(238, 130, 238);
  border: 1px dashed black;
}

/* /Main-link */

/* Section alternate */

.bkgwhite{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.blupink-container{
  width: 70%;
  height: 90%;
  border: 1px dashed black;
}

.blupink-container .blu{
  background-color: rgb(30, 144, 255);
  border: 1px dashed black;
  width: 60%;
  padding: 30px;
}

.blupink-container .pink{
  background-color: rgb(255, 192, 203);
  border: 1px dashed black;
  width: 40%;
}

.bkggrey{
  background-color: rgb(211, 211, 211);
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* /Section alternate */

/* Section Download */

.download{
background-color: rgb(211, 211, 211);
height: 800px;
display: flex;
justify-content: center;
align-items: center;
}

.boxgreen{
  background-color: green;
  height: 90%;
}

/* /Section Download */

/* Infobox */

.bkgfooter{
  background-color: rgb(35, 39, 42);
  height: 500px;
  border-bottom: 1px solid white;
  justify-content: center;
}

.infobox{
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  width: 70%;
}
.grow{
  display: flex;
  background-color: rgb(32, 178, 170);
}

.grow:nth-child(1){
  flex-grow: 1;
  max-width: 40%;
  background-color: rgb(240, 128, 128);
}

.grow{
  background-color: rgb(32, 178, 170);
  border: 1px dashed black;
  padding: 20px;
}


